body {
    font-family: sans-serif;
    padding: 0 1rem;
    max-width: 40rem;
    margin: auto;
    background: linear-gradient(
        270deg,
        rgba(146, 255, 90, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
}

h1 {
    text-align: center;
}
button {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li::after {
    content: " | ";
}
nav ul li::before {
    content: " | ";
}

.add-todo-container {
    text-align: center;
}

.add-todo-container input {
    font-size: 1.1rem;
}
.add-todo-container button {
    font-size: 1.1rem;
}

.todos-container {
    background-color: #fff;
    padding: 1rem 1rem 1rem 2rem;
    height: 20rem;
    border-radius: 10px;
    overflow-y: auto;
}
.todos-container li {
    margin: 0.4rem 0;
}

.todos-container button {
    margin-left: 1rem;
}

.form-container {
    /*  text-align: center;  */
    width: 20rem;
    margin: auto;
}

.form-container input {
    margin-top: 1rem;
}
